---
# Master nodes firewall ports
k8s_master_ports:
    - 22
    - 80
    - 443
    - 6443
    - 2379-2380
    - 10250
    - 10251
    - 10252

# Worker nodes firewall ports
k8s_worker_ports:
    - 22
    - 80
    - 443
    - 10250
    - 30000-32767

# Calico CNI firewall ports
calico_udp_ports:
  - 4789
calico_tcp_ports:
  - 5473
  - 179
  - 5473

# Basic Redhat 8 required packages
redhat_packages:
  - vim
  - bash-completion
  - wget
  - curl
  - firewalld
  - python3-firewall
  - yum-utils
  - lvm2
  - device-mapper-persistent-data
  - iproute-tc

# Required Kernel Modules
kernel_modules:
  - overlay
  - br_netfilter
  - ip_vs
  - ip_vs_rr
  - ip_vs_wrr
  - ip_vs_sh
  - nf_conntrack
