---
apiVersion: kadalu-operator.storage/v1alpha1
kind: KadaluStorage
metadata:
  # This will be used as name of PV Hosting Volume
  name: kadalu-replica3
spec:
  type: Replica3  # Notice that this field tells kadalu operator to use replicate module.
  storage:
    - node: k8snode1      # node name as shown in `kubectl get nodes`
      device: /dev/sdb # Device to provide storage to all PV
    - node: k8snode2      # node name as shown in `kubectl get nodes`
      device: /dev/sdb # Device to provide storage to all PV
    - node: k8snode3      # node name as shown in `kubectl get nodes`
      device: /dev/sdb # Device to provide storage to all PV